// Common styles of the project

.layout
	overflow hidden

body
	background #000
	font-opreg(14px,16px)
	color #000


.header,
.hero,
.about,
.links,
.contacts,
.section
	&__in
		margin auto
		width 1020px

.section__w-w,
.about__w-w
	margin auto
	width 1020px
