// Mixins.

m-nl()
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside

m-cf()
    &:before, &:after
        display table
        content ""

    &:after
        clear both

    .lt-ie8 &
        zoom 1


m-blocks-justify()
    text-align justify
    text-justify newspaper


// You can add your own mixins here:

fix-text-size-adjust()
    background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
    width $width
    height $height

// Set margin on left & right
margin-x($margin)
    margin-left $margin
    margin-right $margin

// Set margin on top & bottom
margin-y($margin)
    margin-top $margin
    margin-bottom $margin

// Set pading on left & right
padding-x($padding)
    padding-left $padding
    padding-right $padding

// Set padding on top & bottom
padding-y($padding)
    padding-top $padding
    padding-bottom $padding



tracking($val, $base = false)
    if $base
        ( ( $val * $base ) / 1000 ) px
    else
        ( $val / 1000 ) em


font-opbld(fs, lh)
    font normal fs / lh 'open_sansbold', sans-serif
font-opreg(fs, lh)
    font normal fs / lh 'open_sansregular', sans-serif
font-opsem(fs, lh)
    font normal fs / lh 'open_sanssemibold', sans-serif
font-geobb(fs, lh)
    font normal fs / lh 'geometric_706black', sans-serif
font-geom(fs, lh)
    font normal fs / lh 'geometric_706medium', sans-serif
