.mfp-bg
	background #000
	background rgba(0,0,0,.8)

button.mfp-close
	position absolute
	top 0
	right 0
	bg($close_icon)
	text-indent -9999px
	opacity 1
	transition all .3s ease
	&:hover
		opacity 1
		bg($close_icon_hover)


.popup
	position relative
	margin auto
	width 640px
	min-height 420px
	background transparent
	&__header
		margin-bottom 18px
	&__text
		font-opreg(24px,28px)
		color $white
	&__input
		margin-bottom 2px
		width 640px
		height 68px
		input
			border none
			border-bottom 2px solid $white
			padding-bottom 6px
			padding-top 41px
			width 100%
			height 100%
			background transparent
			font-opreg(24px, 1)
			color $white

.button
	&_submit
		margin-top 38px
		cursor pointer





