mixin gallery()
	+b('section').section._v1.gallery#gallery
		+e.w-w
			+e.in
				+b('h2').title._v2._gallery INSTAGRAM
				+b('ul').photos
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')
					+e('li').photo
						+e('a').link(href='static/img/content/instagram_image.jpg')
							+e('img').image(src='static/img/content/instagram_image.jpg' alt='instagram image')



