.gallery
	.section__in
		padding-top 94px
		padding-bottom 45px

.photos
	margin-right -21px
	margin-left -21px
	font-size 0
	overflow hidden
	&__photo
		margin-bottom 34px
		margin-left 17px
		margin-right 17px
		display inline-block
	&__link
		display block
	&__image
		width 320px
		height 320px
		background #FAFAFC

.title
	&_gallery
		margin-bottom 50px

