mixin about()
	+b('section').about.section#about
		+e.w
			+e.w-w
				+e.in
					+b('h2').title._v2._about О МАГАЗИНЕ

					+e.text
						+e.text-w
							p <strong>HRB</strong> - молодой российский бренд одежды современного стиля. <br/>Наша цель – производить на территории России продукт, <br/>который будет пользоваться спросом во всем мире. <br/>Мы создаем простые и привычные для всех вещи, <br/>делая ставку на качество и подбор тканей.
