mixin new()
	+b('section').section.section_v1.new#new
		+e.w-w
			+e.in
				+b('h2').title._v2._new НОВИНКИ

				+b.products
					+b('article').product._1
						+e('a').link(href='#')
							+e('div').image
								| <img src='static/img/content/product_1.jpg'/>
							+e('div').title Парка «HURRICANE»
							+e('div').price 7 000 руб.
					+b('article').product._2
						+e('a').link(href='#')
							+e('div').image
								+e('img')(src='static/img/content/product_2.jpg')
							+e('div').title Лонгслив «NIGHT METROPOLIS»
							+e('div').price 2 900 руб.

					+b('article').product._3
						+e('a').link(href='#')
							+e('div').image
								+e('img')(src='static/img/content/product_3.jpg')
							+e('div').title Кардиган «ICEY»
							+e('div').price 3 200 руб.



