mixin links()
	+b('section').section._v2.links#links
		+e.w-w._v2
			+e.in
				+b('h2').title._v3._links ССЫЛКИ

				+b('ul').social
					+e('li').item
						+e('a').link(href='#')
							+e.icon._vk
							+e.text https://vk.com/hrbmoscow
					+e('li').item
						+e('a').link(href='#')
							+e.icon._instagram
							+e.text https://www.instagram.com/hrb_official/
