.links
	.section__in
		padding-top 94px
		padding-bottom 36px


.title
	&_links
		margin-bottom 68px

.social
	&__item
		margin-bottom 64px
	&__link
		color $white
		text-decoration underline
	&__icon
		display inline-block
		vertical-align middle
		&_vk
			margin-right 60px
			bg($vk_icon)
		&_instagram
			margin-right 63px
			margin-left 4px
			bg($inst_icon)

	&__text
		display inline-block
		vertical-align middle
		font-opreg(30px,1)
		text-decoration underline
	&__link
		&:hover
			.social__text
				text-decoration none



