mixin promo()
	+b('section').section._v2.promo#promo
		+e.w-w._v2
			+e.in
				+b('h2').title._v3._promo ПРОМО

				+b.video
					<iframe src="//player.vimeo.com/video/124206062" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
