.contacts
	color $black
	.section__in
		padding-top 94px
		padding-bottom 97px
	.section__text
		margin-right 410px
		font-opreg(30px,36px)
	.section__image
		position absolute
		top -73px
		right 0
		width 298px
		height 562px
		background url('../img/assets/contacts/girl.png') 0 0 no-repeat

.title
	&_contacts
		margin-bottom 45px
