mixin contacts()
	+b('section').section._v1.contacts#contacts
		+e.w-w
			+e.in
				+b('h2').title._v2._contacts КОНТАКТЫ
				+e.text._contacts
					p Москва <br/>Холодильный переулок, дом 3 </br>ТЦ «Ролл Холл» <br/>Часы работы: ежедневно с 10:00 до 21:00 <br/>+7 (499) 391-46-36 <br/>info@hrbmoscow.com
				+e.image
