.hero
	background url('../img/assets/hero/hero.jpg') 0 0 no-repeat
	background-size cover
	color $white
	&__in
		padding-top 344px
		padding-bottom 100px
		min-height 49.375rem
	&__w
		background url('../img/general/fade.png') 0 0 no-repeat
		background-size cover
	&__text
		margin-right 26.875rem
		margin-bottom 42px
		// width 487px
		font-opreg(30px,35px)
.title
	&_hero
		margin-bottom 161px


