mixin hero()
	+b('section').hero.section
		+e.w
			+e.in
				+b('h1').title._v1._hero МАГАЗИН УЛИЧНОЙ ОДЕЖДЫ

				+e('p').text Скидка 10% на первую покупку <br/>и приятный подарок от магазина

				+b('a').button._default._open-popup(href='#popup-1') ПОЛУЧИТЬ
